/* Website Style Sheet */

* {
    margin: 0;
}

html, body {
    height: 100%;
}

header {
    height: 70;
    width: 100%;
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    background: #2ecc71;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJlY2M3MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU0JSIgc3RvcC1jb2xvcj0iIzI3YWU2MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyN2FlNjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #2ecc71 0%, #27ae60 54%, #27ae60 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2ecc71), color-stop(54%,#27ae60), color-stop(100%,#27ae60));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2ecc71 0%,#27ae60 54%,#27ae60 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2ecc71 0%,#27ae60 54%,#27ae60 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2ecc71 0%,#27ae60 54%,#27ae60 100%);
    /* IE10+ */
    background: linear-gradient(to bottom,  #2ecc71 0%,#27ae60 54%,#27ae60 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ecc71', endColorstr='#27ae60',GradientType=0 );
    /* IE6-8 */;
}

body {
    background-color: white;
    font-family: helvetica;
}

nav {
    width: 100%;
    float: left;
    padding: 0;
    background-color: #bdc3c7;
    height: 40px;
}

#navigation {
    width: 1000px;
    margin: 0 0 3em 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    list-style: none;
    background-color: #bdc3c7;
}

#navigation li {
    float: left;
}

#navigation li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#navigation li a:active {
    color: white;
}

section {
    background-color: #f3f3f3;
    width: 1000px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 0.25rem;
    border: 1px solid #bdc3c7;
    width: 10%;
}

footer {
    width: 100%;
    height: 35px;
    margin-left: auto;
    text-align: center;
    background: #2ecc71;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJlY2M3MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU0JSIgc3RvcC1jb2xvcj0iIzI3YWU2MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyN2FlNjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #2ecc71 0%, #27ae60 54%, #27ae60 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2ecc71), color-stop(54%,#27ae60), color-stop(100%,#27ae60));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2ecc71 0%,#27ae60 54%,#27ae60 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2ecc71 0%,#27ae60 54%,#27ae60 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2ecc71 0%,#27ae60 54%,#27ae60 100%);
    /* IE10+ */
    background: linear-gradient(to bottom,  #2ecc71 0%,#27ae60 54%,#27ae60 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ecc71', endColorstr='#27ae60',GradientType=0 );
    /* IE6-8 */
    bottom: 0;
    position: fixed;
    left: 0;
    font-size: 10px;
    color: #000;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 12px;
}
